/*@reset styles*/

body, h1, h3, p, ul {
    margin: 0;
}
body {
    color: #666;
    line-height: 1.4;
    font-size: 14px;
    font-family: Verdana, Arial, sans-serif;
}
input, ul, button {
    padding: 0;
}
img, input, button {
    border: 0;
    outline: none;
}
img {
    display: block;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.clearfloat:after {
    content: '.';
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

/*@定义一个全局的imgwapper和textwapper*/

.img-wapper {
    position: relative;
}
.img-wapper:hover {
    cursor: pointer;
}
.img-wapper .button {
    padding: 5px 10px;
    background-color: #06a7e1;
    color: #eee;
    position: absolute;
    left: 5px;
    bottom: 5px;
}
.img-wapper .button:hover {
    background-color: #1ce311;
    color: #fff;
}
.img-wapper img {
    display: block;
}
.img-wapper .first {
    color: #eee;
    display: block;
}
.img-wapper .second {
    color: #ddd;
    display: block;
}
.img-wapper .download {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.text-wapper-dark {
    width: 100%;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    padding: 5px 5px 0 5px;
    box-sizing: border-box;
    display: none;
}
.text-wapper {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #bbb;
}
#class-wapper, #hearld-willbeon-wapper, .self-make, .movies-fushihui,.partner {
    margin: 20px 0;
}
.more {
    font-size: 14px;
    font-style: normal;
    margin-left: 30px;
}
header,.fushihui-container, .wapper-message, #noti-message-imgwapper, .head-information .icons, .level-percent, .hours, .inner-task, .my-hobby, .my-hobby-a, .left-icons-wapper, #left-icons-channel, #right-icons, .menu, #class-wapper, .main-class, #hearld-willbeon-wapper, .movie-container, .imgs-container, .self-make,.chinese-movies, .chinese-movies .imgs-wapper {
    display: -webkit-flex;
    display: flex;
}

/*@header setting*/

header {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    padding: 0 20px 0 40px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fff;
}
header img {
    display: inline-block;
}
.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid #666;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: transform 0.5s;
}
#header-logo-img {
    display: block;
}
#header-search {
    width: 460px;
    height: 40px;
    border: 2px solid #999;
    padding: 10px;
    box-sizing: border-box;
    border-right: none;
    background: url(../img/rank.png) no-repeat;
    background-position: 98% 50%;
    vertical-align: middle;
}
#header-search:focus {
    outline: none;
    border-color: #3eabff;
    box-shadow: 0 0 1px #3eabff;
}
#header-submit {
    line-height: 40px;
    width: 90px;
    background: url(../img/search-img.png) no-repeat;
    background-position: 14% 50%;
    background-color: #2a89de;
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
}
#header-submit span {
    margin-left: 12px;
}
header .container {
    position: relative;
}
header a:hover {
    color: #e01e1e;
}
#suggestion {
    border: 2px solid #3eabff;
    border-top: none;
    box-shadow: 0 0 1px #3eabff;
    padding: 10px;
    position: absolute;
    width: 436px;
    display: none;
    background-color: #fff;
    color: #000;
    line-height: 2;
}
#suggestion .active, #suggestion li:hover {
    background-color: #c9eeee;
    cursor: pointer;
}

/*@message的全局定义*/

#upload-message, #noti-message, #information-message {
    position: absolute;
    top: 100%;
    box-shadow: 0 0 5px #aaa;
    width: 330px;
    display: none;
}
.wapper-message {
    ;
    align-items: baseline;
}
.wapper-message .wapper:hover .triangle {
    transform: rotate(180deg);
}
.wapper-message .handle {
    margin-left: 10px;
}
.handle:hover>img {
    opacity: 0.7;
}
.wapper .last:hover>img {
    opacity: 1;
}
.handle:hover {
    cursor: pointer;
}
#header-head-img, #top-arrow-img {
    vertical-align: top;
}
.triangle-img {
    position: absolute;
    bottom: 100%;
}

/*@上传视频*/

#upload-message {
    background-color: #fff;
    padding: 30px;
    flex-wrap: wrap;
    align-content: space-between;
    left: 70%;
    box-sizing: border-box;
    height: 140px;
}
#upload-message .item {
    width: 50%;
}
#upload-message .item a {
    margin-left: 10px;
}
#upload-message .triangle-img {
    left: 36%;
}

/*@消息定义*/

#noti-message {
    left: 70%;
}
#noti-message .triangle-img {
    left: 56%;
}
#noti-message-class {
    background-color: #f9be29;
    text-align: center;
}
#noti-message-class .button {
    display: inline-block;
    width: 32%;
    padding: 10px 0;
    color: #fff;
}
#noti-message-class .active {
    color: #f00;
    border-bottom: 2px solid #f00;
}
#noti-message-imgwapper {
    height: 340px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
#noti-message-all {
    text-align: right;
    padding: 5px 0;
    background-color: #eee;
}
#noti-message-all a {
    color: #3d98ec;
}
#noti-message-all a:hover {
    color: #e01e1e;
}
/*@informessage*/

#information-message {
    left: 70%;
}
#information-message .triangle-img {
    left: 78%;
}
.head-information {
    padding: 20px;
    background-color: #f4f4f4;
}
.account {
    position: relative;
}
.setting, .logout {
    position: absolute;
    top: 0;
    right: 0;
}
.setting {
    right: 30px;
}
.information-details {
    display: inline-block;
    vertical-align: top;
    color: #f00;
}
.information-details p {
    margin-bottom: 5px;
    color: #f00;
    font-size: 22px;
}
.head-information .icons {
    justify-content: space-around;
}

/*@定义等级*/

.level {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 5px 20px;
}
.level a {
    color: #3d98ec;
}
.level .first {
    margin-right: 80px;
    font-size: 120%;
}
.level-percent {
    justify-content: space-between;
    align-items: center;
}
.percent {
    height: 1.2em;
    width: 90%;
    background-color: #ccc;
}
.inner-percent {
    height: 100%;
    width: 18%;
    background-color: #f9be29;
    border-top-right-radius: 22%;
    border-bottom-right-radius: 22%;
    font-size: 90%;
    color: #fff;
}
.hours {
    justify-content: space-between;
    margin: 5px 0;
}
.hours span {
    height: 1.2em;
    padding: 5px;
    border-radius: 22%;
    font-size: 90%;
    background-color: #ccc;
}
.hours .first-hours {
    background: #f9be29;
    color: #fff;
}

/*@task*/

.task {
    padding: 5px 20px;
    background-color: #fff;
    height: 120px;
}
.task .first {
    font-size: 120%;
    margin-bottom: 5px;
}
.inner-task {
    align-items: center;
    justify-content: space-between;
}
.inner-task .button {
    padding: 5px 10px;
    background-color: #ff9100;
    color: #fff;
}
.inner-task .button:hover {
    background-color: #0fac36;
}
.sign-gift {
    align-self: flex-start;
}

/*@myhobby*/

.my-hobby, .my-hobby-a {
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    padding-bottom: 10px;
}

/*@侧边栏*/

#left-icons {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: #f5f5f5;
}
.left-icons-top {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.left-icons-wapper {
    width: 50px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-icons-wapper:hover {
    cursor: pointer;
    background-color: #dff8f9;
}
.left-icons-bottom {
    padding: 15px 0;
}
#left-icons-channel {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#right-icons {
    position: fixed;
    right: 0;
    bottom: 20px;
    flex-direction: column;
}
#right-icons img {
    border: 1px solid #ccc;
}
#right-icons img:last-child {
    border-top: none;
}
#right-icons img:hover, #left-icons-channel:hover {
    cursor: pointer;
}

/*@正文内容*/

article {
    width: 1200px;
    position: relative;
    margin: 60px auto 30px auto;
}
article a:hover {
    color: #e3592d;
}
article h1 {
    line-height: 50px;
}
#stop-animation {
    position: fixed;
    right: 0;
    top: 61px;
    padding: 2px;
    background-color: #ddd;
    box-shadow: 0 0 1px #000;
    border: 1px solid #ccc;
    z-index: 1;
}
#stop-animation:hover {
    color: #f00;
    cursor: pointer;
}
.menu {
    align-items: flex-end;
}
.menu a {
    padding: 10px 8px 6px 8px;
    border-bottom: 3px solid #ccc;
}
.menu .active {
    color: #4882d9;
    border-bottom-color: #4882d9;
}
.menu a:hover {
    border-bottom-color: #df6849;
}
.button-big {
    font-size: 18px;
}
.level2 a, .level2 .active, .level2 a:hover {
    border: none;
}
.right-top-hock span {
    line-height: 1;
    background-color: #f00;
    color: #fff;
    border-radius: 3px;
    vertical-align: super;
    font-size: 12px;
}
#carousel-figure {
    margin: 10px 0;
    height: 410px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 1px #000;
}
#imgholder {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#spanholder {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}
#spanholder span {
    display: inline-block;
    background-color: #fff;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 0 3px #3fb9a3;
}
#spanholder span:hover, #spanholder .active {
    background-color: #54d1cd;
    cursor: pointer;
}
#left, #right {
    position: absolute;
    top: 42%;
    font-size: 40px;
    color: #eee;
    text-shadow: 0 0 3px #000;
    opacity: 0.6;
}
#left:hover, #right:hover {
    opacity: 1;
    cursor: pointer;
}
#left {
    left: 10px;
}
#right {
    right: 10px;
}

/*@分类*/

#class-wapper {
    border-bottom: 2px solid #ccc;
}
.main-class {
    width: 300px;
    flex-wrap: wrap;
    line-height: 1.8;
}
.main-class h3 {
    font-size: 14px;
    width: 40%;
    margin-right: 60%;
    text-align: center;
    background-color: #909090;
    color: #fff;
}
.main-class .item {
    font-size: 13px;
    margin-right: 15px;
    line-height: 2.5;
}
.main-class .item:hover {
    color: #e4521d;
}

/*电影*/

#hearld-willbeon-wapper {
    justify-content: space-between;
}
.movie-container {
    width: 70%;
    height: 300px;
    position: relative;
}
.movie-container .imgs-container {
    position: absolute;
    top: 50px;
    left: 2px;
}
.movie-container .img-wapper {
    box-shadow: 0 0 1px #ccc;
    width: 200px;
    height: 110px;
}
.movie-container .third {
    display: block;
    color: #aaa;
}
.choice .handle {
    font-size: 20px;
    line-height: 2;
    padding: 5px 10px;
    color: #555;
}
.movie-container .active .imgs-container {
    z-index: 1;
}
.choice:hover .imgs-container {
    z-index: 2;
}
.active .handle {
    background-color: #0d7fd2;
    color: #fff;
}
.choice:hover .handle {
    color: #fff;
    background-color: #e02323;
}
.imgs-container {
    width: 860px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 236px;
}
.movie-container .img-wapper:hover .text-wapper {
    display: none;
}
.movie-container .img-wapper:hover .text-wapper-dark {
    display: block;
    z-index: 1;
}
.in-movies {
    width: 300px;
    height: 290px;
    overflow: hidden;
}
.in-movies h1 {
    line-height: 50px;
}
.in-movies .img-wapper {
    height: 50px;
    margin-bottom: 12px;
    width: 100%;
}
.in-movies .img-wapper img {
    float: left;
    margin-right: 10px;
}
.in-movies .img-wapper .close {
    position: absolute;
    right: 0;
    top: 30%;
}
.in-movies .img-wapper .close:hover {
    color: #e02323;
}
.in-movies .first {
    color: #222;
}
.in-movies .second {
    color: #aaa;
}
.in-movies .first:hover {
    color: #e02323;
}

/*自制节目*/

.self-make {
    justify-content: space-between;
}
.self-container {
    position: relative;
}
.self-make h1 {
    line-height: 50px;
}
.self-container .imgs-wapper {
    position: absolute;
    top: 50px;
    left: 200px;
    padding-left: 20px;
}
.self-container .handle {
    display: inline-block;
    width: 190px;
    line-height: 34px;
    padding-left: 10px;
    background-color: #ddd;
    color: #444;
}
.self-container .active .handle {
    background-color: #0d7fd2;
    color: #fff;
}
.self-choice:hover .handle {
    background-color: #e02323;
    color: #fff;
}
.self-container .active .imgs-wapper {
    z-index: 1;
}
.self-choice:hover .imgs-wapper {
    z-index: 2;
}
.self-choice .imgs-wapper {
    width: 644px;
}
.self-choice .imgs-wapper span {
    display: block;
}
.self-choice .img-wapper-big {
    float: left;
}
.self-choice .img-wapper-small {
    float: right;
    margin-bottom: 20px;
}
.free-first-play {
    width: 300px;
}
.free-first-play .img-wapper img {
    float: left;
    margin-right: 10px;
}
.free-first-play .img-wapper {
    height: 80px;
}
.free-first-play .img-wapper a {
    color: #222;
}
.free-first-play .img-wapper a:hover {
    color: #e02323;
}
/*华语最好看*/

.chinese-movies {
    justify-content: space-between;
}
.chinese-movies h1 {
    line-height: 50px;
}
.chinese-movies a.more:hover {
    color: #e02323;
}
.chinese-movies .imgs-wapper {
    width: 860px;
    height: 300px;
    justify-content: space-between;
}
.chinese-movies .text-wapper-dark {
    height: 100px;
    width: 100%;
}
.chinese-movies .img-wapper:hover .text-wapper {
    display: none;
}
.chinese-movies .img-wapper:hover .text-wapper-dark {
    display: block;
}
.chinese-movies-rank {
    width: 300px;
}
.chinese-movies-rank .rank-number {
    display: inline-block;
    text-align: center;
    line-height: 22px;
    width: 22px;
    background-color: #3b94fc;
    color: #fff;
    margin-right: 10px;
}
.chinese-movies-rank .one-two-three {
    background-color: #e02323;
}
.chinese-movies-rank .click-count {
    float: right;
}
.chinese-movies-rank ul {
    height: 300px;
}
.chinese-movies-rank ul li {
    line-height: 30px;
}
/*@浮世绘*/
.movies-fushihui {
    position: relative;
    overflow: hidden;
    height: 250px;
}
.movies-fushihui h1 {
    line-height: 50px;
}
.fushihui-container {
    position: absolute;
    top: 50px;
    left: 0;
}
.fushihui-container .main-container {
    height: 200px;
    width: 420px;
    background-color: #f5f5f5;
    margin-right: 20px;
}
.fushihui-container .main-container {
    display: -webkit-flex;
    display: flex;
}
.fushihui-text-wapper {
    width: 100%;
    padding: 20px;
    color: #444;
    box-sizing: border-box;
}
.fushihui-text-wapper span {
    margin-right: 5px;
}
.fushihui-text-wapper img {
    display: inline-block;
}
.fushihui-text-wapper .title {
    color: #aaa;
}
.fushihui-text-wapper .rank {
    font-size: 20px;
    color: #f00;
    margin-left: 5px;
}
.fushihui-container .imgs-wapper{
    width: 1080px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.fushihui-container .imgs-wapper .fushihui-text-wapper {
    padding: 10px;
    width: 200px;
}
.fushihui-container .img-wapper:hover .text-wapper {
    display: none;
}
.fushihui-container .img-wapper:hover .text-wapper-dark {
    display: block;
}
#move-right-arrow,#move-left-arrow {
    position: absolute;
    width: 100px;
    line-height: 200px;
    font-size: 50px;
    z-index: 1;
    top: 50px;
    text-align: right;
    opacity: 0.5;
    color: #e2e2e2;
}
#move-right-arrow:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
#move-right-arrow {
    right: 0;
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
#move-left-arrow {
    text-align: left;
    background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background: -moz-linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    display: none;
}
#move-left-arrow:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: -moz-linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
/*@合作伙伴*/
.partner h1 {
    line-height: 50px;
}
.partner-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
/*@footer styles*/
footer .container {
    border-top: 2px solid #ddd;
    padding: 20px 0;
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    color: #474747;
    font-size: 12px;
}
footer .title {
    color: #aaa;
    font-size: 14px;
}
.container-1 ,.container-1 .last,.container-2{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    line-height: 28px;
}
.container-1 a {
    margin-left: 5px;
}
.container a:hover ,.container-2 .last .first:hover,.container-2 .last .second:hover{
    color: #e41d1d;
}
.container-1 .last {
    width: 300px;
    flex-wrap: wrap;
}
.container-1 .last a{
    width: 30%;
    margin-right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container-2 {
    line-height: 26px;
    margin: 30px 0;
}
.container-2 img {
    display: inline-block;
    vertical-align: top;
}
.container-2 .last {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
}
.container-2 .last .first {
    color: #474747;
    font-size: 18px;
}
.container-2 .last .second {
    color: #474747;
    font-size: 14px;
}
.container-3 {
    text-align: center;
}
.container-3 .title,.container-2 .title {
    font-size: 12px;
}
.last-last-last {
    margin-left: 20px;
}
