 /*@reset*/

 body {
     margin: 0;
     line-height: 1.3;
     font-size: 16px;
     font-family: sans-serif;
     color: #3e3e40;
     background-color: #e9eaea;
     width: 100%;
     min-width: 960px;
     height: 2000px;
 }
 h1, h3, p, ul {
     margin: 0;
 }
 img {
     border: 0;
 }
 ul {
     padding: 0;
     list-style-type: none;
 }
 a {
     text-decoration: none;
     color: #204056;
     display: inline-block;
 }
 a:active {
     text-decoration: underline;
 }
 a:focus {
     outline-style: none;
 }
 /*@all pages*/

 .container {
     width: 960px;
     min-width: 960px;
     margin: 0 auto;
 }
 .percentage {
     width: 100%;
     height: 8px;
     background-color: #e9eaea;
     position: relative;
 }
 .inner-block {
     height: 100%;
     background-color: #34b3a0;
 }
 .percentage-text {
     position: absolute;
     right: -38px;
     top: -50%;
     color: #34b3a0;
 }
 /* @header*/

 header {
     height: 50px;
     width: 100%;
     background-color: #fff;
 }
 hr {
     border: 0;
     margin: 0;
     height: 1px;
     background-color: #ccc;
 }
 header .container {
     line-height: 50px;
     font-size: 0;
 }
 header img, header a {
     vertical-align: middle;
 }
 header .text {
     font-size: 16px;
 }
 header .inform {
     opacity: 0.7;
 }
 header section {
     float: right;
 }
 header section a {
     margin-left: 20px;
 }
 header .text:hover {
     opacity: 0.7;
 }
 header .inform:hover {
     opacity: 1;
 }
 /*@article**/
 /*@banner*/

 article {}
 article .banner {
     background-color: #fff;
     text-align: center;
 }
 .banner .container {
     box-sizing: border-box;
     padding: 48px 240px 0 240px;
     position: relative;
 }
 .banner h1 {
     margin: 16px 0;
     font-weight: normal;
 }
 .banner .percentage {
     height: 8px;
     margin: 16px 0;
 }
 .banner .inner-block {
     width: 12%;
 }
 .banner .button {
     display: inline-block;
     padding: 16px 80px;
     background-color: #30a392;
     margin: 16px 0;
     color: #fff;
 }
 .banner .button:hover {
     background-color: #36c3ae;
 }
 .banner a.text:hover {
     text-decoration: underline;
 }
 .banner .skills {
     margin-top: 64px;
 }
 .banner .skills a {
     background-color: #e8e8e8;
     padding: 16px;
 }
 .banner .skills a:hover, .banner .skills a:active {
     background-color: #d5d5d5;
 }
 .banner .noti, .banner .account {
     position: absolute;
     width: 320px;
     box-shadow: 0 0 7px #ccc;
     top: 0;
     border: 1px solid #ccc;
     background-color: #fff;
     position: absolute;
     z-index: -1;
 }
 .banner .noti {
     text-align: center;
     min-height: 320px;
     height: 320px;
     right: 34px;
 }
 .banner .account {
     width: 288px;
     right: -5px;
     text-align: left;
     position: absolute;
     z-index: -1;
 }
 .banner .top-triangle {
     position: absolute;
     top: -8px;
     right: 8px;
     font-size: 0;
 }
 .banner .noti div.text {
     padding: 16px 0;
     border-bottom: 1px solid #ccc;
 }
 .banner .noti img.inform {
     margin-top: 5rem;
 }
 .banner .noti div.mini-text {
     font-size: 14px;
     opacity: 0.8;
 }
 .banner .introu {
     padding: 16px;
     border-bottom: 1px solid #ccc;
 }
 .banner .introu img.head {
     vertical-align: top;
     margin-top: 16px;
 }
 .banner .about-me {
     display: inline-block;
     margin-left: 16px;
 }
 .banner .about-me p {
     margin-top: 5px;
     opacity: 0.7;
 }
 .banner .about-me a {
     color: #fff;
     background-color: #2d3b45;
     padding: 12px;
     margin-top: 16px;
 }
 .banner .about-me a:hover {
     background-color: #506b7e;
 }
 .banner .account>a {
     display: block;
     padding: 16px 32px;
 }
 .banner .account>a:last-child {
     opacity: 0.7;
 }
 .banner .account>a:hover {
     text-decoration: none;
     background-color: #e8e8e8;
 }
 /*@skills*/

 .skills-list {
     padding: 30px 0;
     background-color: #d5d5d5;
 }
 .skills-list span.text {
     display: inline-block;
     width: 280px;
 }
 .skills-list a {
     display: block;
     background-color: #fff;
     padding: 20px;
     position: relative;
 }
 .skills-list a:hover {
     background-color: #30a392;
     color: #fff;
 }
 .skills-list a:hover .inner-block {
     background-color: #fff;
 }
 .skills-list a:hover .percentage-text {
     color: inherit;
 }
 .skills-list li {
     border-bottom: 1px solid #ccc;
 }
 .skills-list span.last-time {
     position: absolute;
     top: 100%;
     right: 100px;
     font-size: 14px;
     z-index: -1;
 }
 .skills-list span.arrow {
     float: right;
 }
 .skills-list .percentage {
     width: 300px;
     height: 10px;
     display: inline-block;
 }
 .skills-list .percentage .inner-block {
     width: 12%;
 }
 .skills-list .c-skills .inner-block {
     width: 100%;
 }
 .skills-list li:last-child {
     border-bottom: none;
 }
 /*@web skills*/

 div.web-skills {
     text-align: center;
     padding: 50px;
 }
 div.web-skills a{
     display: inline;
 }
 div.web-skills .container>h1, div.web-skills .container>p {
     margin: 20px 0;
 }
div.web-skills li {
    background-color: #fff;
    width: 280px;
    height: 340px;
    padding: 40px 20px;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}
div.web-skills li:hover {
    background-color: #30a392;
}
div.web-skills li:hover a,div.web-skills li:hover .percentage-text {
    color: #fff;
}
div.web-skills li:hover .inner-block {
    background-color: #fff;
}
div.web-skills li h3 {
    font-size: 20px;
    margin: 10px 0;
}
div.web-skills li p {
    margin: 10px 0;
}
div.web-skills div.web-per {
    width: 280px;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    padding: 20px 40px;
    position: relative;
    right: 20px;
    top: 18px;
}
div.web-skills div.web-per .percentage {
    background-color: #d5d5d5;
    position: relative;
    right: 18px;
}
div.web-skills div.web-per .inner-block {
    width: 12%;
}
div.web-skills div.web-per .all-per {
    width: 100%;
}
div.web-skills li:last-child {
    opacity: 0.5;
    position: relative;
}
div.web-skills li:last-child #right-triangle {
    position: absolute;
    right: 0;
    top: 0;
}
div.web-skills li:last-child:hover {
    background-color: #fff;
}
