 /*@reset*/

 body {
     margin: 0;
     line-height: 1.3;
     font-size: 14px;
     font-family: 'Open Sans', serif;
     font-weight: 300;
     color: #3e3e40;
     background-color: #e9eaea;
 }
 h1, h3, p {
     margin: 0;
 }
 a {
     text-decoration: none;
     color: #204056;
     display: inline-block;
 }
 a:active {
     text-decoration: underline;
 }
 /*@all pages*/

 .container {
     width: 960px;
     min-width: 960px;
     margin: 0 auto;
 }
 .percentage {
     width: 100%;
     background-color: #e9eaea;
     position: relative;
 }
 .inner-block {
     height: 100%;
     background-color: #34b3a0;
 }
 .percentage-text {
     position: absolute;
     right: -3rem;
     top: -50%;
     color: #34b3a0;
 }
 /* @header*/

 header {
     height: 50px;
     width: 100%;
     background-color: #fff;
     margin-bottom: 1px;
 }
 header .container {
     line-height: 50px;
     font-size: 0;
 }
 header img, header a {
     vertical-align: middle;
 }
 header .text {
     font-size: 1rem;
 }
 header .inform {
     opacity: 0.7
 }
 header section {
     float: right;
 }
 header section a {
     margin-left: 1.2rem;
 }
 header .text:hover {
     opacity: 0.7;
 }
 header .inform:hover {
     opacity: 1;
 }
 /*@article**/
 /*@banner*/

 article {}
 article .banner {
     background-color: #fff;
     text-align: center;
 }
 .banner .container {
     box-sizing: border-box;
     padding: 3rem 15rem 0 15rem;
     position: relative;
 }
 .banner h1 {
     margin: 1rem 0;
     font-weight: normal;
 }
 .banner .percentage {
     height: 0.5rem;
     margin: 1rem 0;
 }
 .banner .inner-block {
     width: 12%;
 }
 .banner .button {
     display: inline-block;
     padding: 1rem 5rem;
     background-color: #30a392;
     margin: 1rem 0;
 }
 .banner .button a {
     color: #fff;
 }
 .banner .button:hover {
     background-color: #36c3ae;
 }
 .banner a.text:hover {
     text-decoration: underline;
 }
 .banner .skills {
     margin-top: 4rem;
 }
 .banner .skills div {
     display: inline-block;
     background-color: #e8e8e8;
     padding: 1rem;
 }
 .banner .skills div:hover, .banner .skills div:active {
     background-color: #d5d5d5;
 }
 .banner .noti, .banner .account {
     position: absolute;
     width: 20rem;
     box-shadow: 0 0 7px #ccc;
     top: 0;
     border: 1px solid #ccc;
     background-color: #fff;
 }
 .banner .noti {
     text-align: center;
     min-height: 20rem;
     right: 34px;
     display: none;
 }
 .banner .account {
     width: 18rem;
     right: -5px;
     text-align: left;
     display: none;
 }
 .banner .top-triangle {
     position: absolute;
     top: -8px;
     right: 8px;
     font-size: 0;
 }
 .banner .noti div.text {
     padding: 1rem 0;
     border-bottom: 1px solid #ccc;
 }
 .banner .noti img.inform {
     margin-top: 5rem;
 }
 .banner .noti div.mini-text {
     font-size: 0.8rem;
     opacity: 0.8;
 }
 .banner .introu {
     padding: 1rem;
     border-bottom: 1px solid #ccc;
 }
 .banner .introu img.head {
     vertical-align: top;
     margin-top: 1rem;
 }
 .banner .about-me {
     display: inline-block;
     margin-left: 1rem;
 }
 .banner .about-me p {
     margin-top: 0.3rem;
     opacity: 0.7;
 }
 .banner .about-me a {
     color: #fff;
     background-color: #2d3b45;
     padding: 0.8rem;
     margin-top: 1rem;
 }
 .banner .about-me a:hover {
     background-color: #506b7e;
 }
 .banner .account>a {
     display: block;
     padding: 1rem 2rem;
 }
 .banner .account>a:last-child {
     opacity: 0.7;
 }
.banner .account>a:hover {
    text-decoration: none;
    background-color: #e8e8e8;
}
