#imgs-wapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.img-wapper {
    overflow: hidden;
    margin: 8px;
}
.img-wapper img {
    display: block;
    width: 100%;
}