/*@reset styles*/

body, h1, h3, ul, p {
    margin: 0;
}
ul, input {
    padding: 0;
}
ul {
    list-style-type: none;
}
img, input {
    border: 0;
}
body {
    line-height: 1.4;
    min-height: 1200px;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

/*@header style*/

header {
    width: 100%;
    background-color: #39a3da;
    color: #fff;
    font-size: 12px;
}
header .container {
    width: 1160px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .wapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-logo {
    display: block;
}
header form {
    display: flex;
    margin-right: 20px;
}

/*@搜索*/

#search {
    height: 26px;
    background: url(../img/search-img.png) no-repeat left center;
    background-color: #fff;
    outline: none;
    width: 280px;
}

/*@左右半圆*/

#input-left, #input-right {
    height: 26px;
    width: 13px;
    display: inline-block;
    background-color: #fff;
    border-radius: 13px 0 0 13px;
}
#input-right {
    border-radius: 0 13px 13px 0;
}
.login img {
    vertical-align: middle;
}

/*@定义背景颜色*/

#just-background-left, #just-background-right,#just-background-first-line {
    height: 100%;
    width: 22%;
    background-color: #151c39;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -1;
}
#just-background-right {
    width: 78%;
    left: 22%;
    background-color: #eeeded;
}
#just-background-first-line {
    height: 30px;
    width: 78%;
    left: 22%;
    background-color: #fff;
}

/*@article styles*/

article .container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}
.information-class {
    width: 17.4%;
    color: #eee;
}
.account {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
.account>span {
    color: #eee;
}
.account .wapper {
    position: relative;
}
.account .head {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #bababe;
}

/*@圆圈*/

#head-circle {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #bababe;
    top: -7px;
    left: -7px;
}
.collection-and-fans {
    width: 150px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    opacity: 0.4;
}
.collection, .fans {
    width: 34px;
    text-align: center;
}
.spaced-line {
    width: 2px;
    height: 38px;
    background-color: #eee;
}
.personal-class {
    font-size: 14px;
    line-height: 3;
}
.personal-class a {
    display: block;
    opacity: 0.4;
}
.personal-class a span {
    display: inline-block;
    min-width: 20px;
    text-align: center;
}
.personal-class a:focus, .personal-class a:hover, .personal-class .first {
    opacity: 1;
}
.personal-class li img {
    margin-right: 10px;
}
.level2, .level3 {
    margin-left: 26px;
    line-height: 2;
}
.level3 {
    margin-left: 42px;
}

/*@详细内容*/
.information-content {
    width: 82.6%;
    font-size: 14px;
    color: #aaa;
}
.first-line {
    padding-left: 20px;
}
.first-line span, .first-line a {
    margin: 0 5px;
    line-height: 2;
}
.first-line .active, .first-line a:hover {
    color: #40a6e6;
}
