/*@reset styles*/

body, h1, h3, ul, p {
    margin: 0;
}
ul, input {
    padding: 0;
}
ul {
    list-style-type: none;
}
img, input {
    border: 0;
}
body {
    line-height: 1.4;
    min-height: 1200px;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

/*@header style*/

header {
    width: 100%;
    background-color: #39a3da;
    color: #fff;
    font-size: 12px;
}
header .container {
    width: 1160px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .wapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-logo {
    display: block;
}
header form {
    display: flex;
    margin-right: 20px;
}

/*@搜索*/

#search {
    height: 26px;
    background: url(../img/search-img.png) no-repeat left center;
    background-color: #fff;
    outline: none;
    width: 280px;
}

/*@左右半圆*/

#input-left, #input-right {
    height: 26px;
    width: 13px;
    display: inline-block;
    background-color: #fff;
    border-radius: 13px 0 0 13px;
}
#input-right {
    border-radius: 0 13px 13px 0;
}
.login img {
    vertical-align: middle;
}

/*@定义背景颜色*/


/*@article styles*/

article {
    display: flex;
}
.information-class {
    width: 22%;
    color: #eee;
    background-color: #151c39;
    padding-left: 95px;
    min-height: 1200px;
    box-sizing: border-box;
}
.account {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
.account>span {
    color: #eee;
}
.account .wapper {
    position: relative;
}
.account .head {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #bababe;
}

/*@圆圈*/

#head-circle {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #bababe;
    top: -7px;
    left: -7px;
}
.collection-and-fans {
    width: 150px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    opacity: 0.4;
}
.collection, .fans {
    width: 34px;
    text-align: center;
}
.spaced-line {
    width: 2px;
    height: 38px;
    background-color: #eee;
}
.personal-class {
    font-size: 14px;
    line-height: 3;
}
.personal-class a {
    display: block;
    opacity: 0.4;
}
.personal-class a span {
    display: inline-block;
    min-width: 20px;
    text-align: center;
}
.personal-class a:focus, .personal-class a:hover, .personal-class .first {
    opacity: 1;
}
.personal-class li img {
    margin-right: 10px;
}
.level2, .level3 {
    margin-left: 26px;
    line-height: 2;
}
.level3 {
    margin-left: 42px;
}

/*@详细内容*/

.information-content {
    font-size: 14px;
    width: 78%;
    color: #aaa;
    background-color: #eeeded;
}
.first-line {
    padding-left: 20px;
    background-color: #fff;
}
.first-line span, .first-line a {
    margin: 0 5px;
    line-height: 2;
}
.first-line .active, .first-line a:hover {
    color: #40a6e6;
}
.information-content .container {
    width: 890px;
    margin: 20px auto;
}
.search-date select {
    -webkit-appearance: none;
    appearance: none;
    padding: 5px 20px 5px 10px;
    margin: 0 10px 5px 10px;
    background: url(../img/bottom-arrow.png) no-repeat 94% 50%;
    height: 30px;
}
.search-date select:focus {
    outline-color: #16d529;
    border: 1px solid #16d529;
}
.search-date {
    display: flex;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 0 3px #40a6e6;
}
.choice1 {
    margin-right: 20px;
}
.choice2 {
    position: relative;
    margin-right: 40px;
}
.choice2 select {
    width: 120px;
}
#change-img, #change-text {
    position: absolute;
    left: 92%;
    top: 20%;
}
#change-text {
    top: 35%;
    left: 100%;
    z-index: 1;
    color: #fff;
    font-size: 12px;
}
.choice3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 300px;
    margin-right: 30px;
}
#choice3-date, #choice3-project {
    width: 120px;
}
.search-date .btn {
    background-color: #39a3da;
    color: #fff;
    height: 20px;
    padding: 5px 10px;
    align-self: center;
}
.search-date .btn:hover {
    background-color: #16d529;
    color: #f00;
}
/*@日期*/
.calendar-time {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}
.calendar-time div {
    height: 64px;
    box-sizing: border-box;
    padding: 10px 10px 5px 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.calendar-time .time {
    font-size: 12px;
    color: #000;
}
.calendar-time .times {
    width: 110px;
}
.calendar-time .money {
    font-size: 20px;
    font-weight: bold;
    color: #f04a3a;
}
.calendar-time .symple {
    font-size: 14px;
    color: #ccc;
}
#left-arrow,#right-arrow {
    justify-content: center;
}
#calendar-time {
    flex-direction: row;
    width: 116px;
}
